<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %} Title {% endblock %}</title>

    {% block stylesheets %}
        <style>
            .table {
                background-color: #EEE;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('css/sidebar-style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% endblock %}

</head>
<body>

<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="btn-sidebar">
                    &#9776;
                </button>
                <a class="navbar-brand" href={{ path('dashboard') }}>Southern-Lanka</a>
            </div>
            {% block navblock %}

            {% endblock %}
        </div>
    </nav>
</div>

<div class="navbar-primary">
    <ul class="navbar-primary-menu">
        <li>
            <a href="#">Close X</a>
            <a href="{{ path('loan', {'areaId':1}) }}"><span class="glyphicon glyphicon-list-alt"></span><span
                        class="nav-label">Area-01</span></a>
            <a href="{{ path('loan', {'areaId':2}) }}"><span class="glyphicon glyphicon-list-alt"></span><span
                        class="nav-label">Area-02</span></a>
            <a href="{{ path('loan', {'areaId':3}) }}"><span class="glyphicon glyphicon-list-alt"></span><span
                        class="nav-label">Area-03</span></a>
            <a href="{{ path('adminChangePassword', {'adminId':1}) }}"><span
                        class="glyphicon glyphicon-list-alt"></span><span
                        class="nav-label">Admin</span></a>
        </li>
    </ul>
</div>

{% block body %}

{% endblock %}

<script>
    $('.btn-sidebar').click(function (e) {
        e.stopPropagation();
        $(".navbar-primary").toggleClass('collapsed')
    });

    $(window).click(function (e) {
        if ($(".navbar-primary").hasClass('collapsed')) {
            $(".navbar-primary").toggleClass('collapsed')
        }
    });
</script>

</body>
</html>
