{% extends 'base.html.twig' %}

{% block title %} Admin View {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block navblock %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div>
        <main>
            <center>
                <h3>Admin Details</h3>
                <div class="container">
                    <div class="row" style="overflow: auto; white-space: nowrap">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Admin Name</th>
                                <th>Password</th>
                                <th>isActive</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ admin.name }}</td>
                                <td>********</td>
                                <td>{{ admin.isActive }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </center>
        </main>
    </div>

    <script>

    </script>

{% endblock %}