{% extends 'base.html.twig' %}

{% block title %} Completed Loans {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block navblock %}
    {{ parent() }}

    <form class="nav navbar-form navbar-left" action="{{ path('loanComplete', {'areaId':areaId}) }}" method="post">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Loans" name="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

{% endblock %}

{% block body %}
    {{ parent() }}

    <div>
        <main>
            <center>
                <h3>Completed Loans</h3>
                <div class="container">
                    <div class="row" style="overflow: auto; white-space: nowrap">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Loan Code</th>
                                <th>Customer Name</th>
                                <th>Customer Nic</th>
                                <th>Loan Amount</th>
                                {#<th>Total Amount</th>#}
                                <th>Started Date</th>
                                <th>Weekly Payment</th>
                                <th>Total Payment</th>
                                <th>Areas Amount</th>
                                <th>Last Installment</th>
                                <th>Period</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for loan in loans %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ loan.loanCode }}</td>
                                    <td>{{ loan.customer.name }}</td>
                                    <td>{{ loan.customer.nic }}</td>
                                    <td>{{ loan.loanAmount }}</td>
                                    {#<td>{{ loan.totalAmount }}</td>#}
                                    <td>{{ loan.startedDate|date('Y-m-d') }}</td>
                                    <td>{{ loan.weeklyPayment }}</td>
                                    <td>{{ loan.totalPayment }}</td>
                                    <td>{{ loan.areasAmount }}</td>
                                    <td>{{ loan.lastInstallmentAmount }}</td>
                                    <td>{{ loan.period }}</td>
                                    <td><a class="btn btn-default btn-xs"
                                           href="{{ path('loanView', {'areaId':areaId, 'loanId':loan.id}) }}">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(loans) }}
                </div>
            </center>
        </main>
    </div>

    <script>

    </script>

{% endblock %}