{% extends 'base.html.twig' %}

{% block title %} Loan Add {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block navblock %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}

    <div>
        <main>
            <center>
                <h3>Add Loans</h3>
                <div class="container">
                    <div>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </center>
        </main>
    </div>

    <script>
        $(document).ready(function () {
            $('#app_loan_customer').select2();
        });
    </script>

{% endblock %}