{% extends 'baseDashboard.html.twig' %}

{% block title %} Dashboard {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block navblock %}
    {{ parent() }}

    <ul class="nav navbar-nav navbar-right">
        <li><a href={{ path('adminChangePassword', {'adminId':1}) }}>Admin</a></li>
        <li><a href={{ path('logout') }}>Logout</a></li>
    </ul>

{% endblock %}

{% block body %}
    {{ parent() }}

    <div>
        <main>
            <center>
                <hr>
                <h2>Micro-Credit Service</h2>
                <hr>
                <br><br>
                <div class="container">
                    <div>
                        <div class="quick-actions_homepage">
                            <ul class="quick-actions">
                                <li><a href="{{ path('loan', {'areaId':1}) }}"> <i class="icon-cabinet"></i>Area-01</a></li>
                                <li><a href="{{ path('loan', {'areaId':2}) }}"> <i class="icon-cabinet"></i>Area-02</a></li>
                                <li><a href="{{ path('loan', {'areaId':3}) }}"> <i class="icon-cabinet"></i>Area-03</a></li>
                                <li><a href="{{ path('adminChangePassword', {'adminId':1}) }}"> <i class="icon-home"></i>Admin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </center>
        </main>
    </div>

    <script>

    </script>

{% endblock %}